<div class="mt-4">
    <h3>Update Form Course</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"  placeholder="Description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}"  placeholder="VideoId">
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" name="level" value="{{course.level}}"  placeholder="Level">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>