<div class="mt-3">
    <a class="btn btn-warning" href="/courses/me/store">Back</a>
</div>
<div class="mt-4">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Delete At</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{formatDate this.deletedAt}}</td>
                <td>
                    <button class="btn btn-primary btn-restore" data-id="{{this._id}}">Restore</button>
                    <a class="btn btn-warning" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-course-modal">
                        Delete Forever
                    </a>
                    {{/each}}

        </tbody>
    </table>
</div>
<form id="delete-course-form" method="POST"></form>
<form id="restore-course-form" method="POST"></form>
<div class="modal" id="delete-course-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want delete it ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btn-delete-course" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var id
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-delete-course')
        var restoreForm = document.forms['restore-course-form']
        var btnRestore = $('.btn-restore')

        $('#delete-course-modal').on('show.bs.modal', (event) => {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })

        btnRestore.click(e => {
            e.preventDefault()
            var courseId = btnRestore.data('id')
            restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`
            restoreForm.submit() 
        })

        btnDeleteCourse.onclick = () => {
            deleteForm.action = '/courses/' + id + '/forever?_method=DELETE'
            deleteForm.submit();
        }

    })
</script>